html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif; 
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust:none;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: black;
}
  
.scroll {
  overflow: auto;
  height: 100%;
 }

 .scroll-music {
   overflow: auto;
 }

.App {
    text-align: center;    
    -webkit-overflow-scrolling: touch;
  }
  
  a, body, button, html {
    font-family: Arial,Helvetica,sans-serif; 
    -webkit-overflow-scrolling: touch;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80vmin;
    pointer-events: none;
  }
  
  .App-header {
  
  }
  
  .App-link {
    color: #61dafb;
  }
  
  #container {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    -webkit-overflow-scrolling: touch;
  }
  
  #logo,
  #logo-shows {
      position: fixed;
      left: 35px;
      padding-left: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      z-index: 99;
      pointer-events: none;
  }
  
  #logo.not-shown, #musica.not-shown, #logo-shows.not-shown {
    display: none;
  }
  
  #social-media {
    position: fixed;
    top: 25px;
    right: 25px;
    z-index: 999;
  }
  
  #social-media a {
    margin: 0 5px;
    cursor: pointer!important;
  }
  
  #links {
  }
  
  nav {
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 12;
    pointer-events: none;
  }
  
  nav button {
    display: block;
    border: none;
    background: none;
    color: #E92200;
    margin: 8px;
    padding: 0;
    font-size: 23pt;
    font-weight: 300;
    width: 208px;
    text-align: right;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-decoration: none;
    border-width: 0px;
    pointer-events: auto;
    text-shadow: 1px 1px black;
  }
  
  nav a:hover, nav button:hover {
    cursor: pointer!important;
    color: #050483;
  }
  
  nav a.selected, nav button.selected {
    color: #050483;
  }
  
  nav a, nav a:hover, nav button, nav button:hover {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  
  a:focus, button:focus {
    outline: none;
  }
  
  #modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
    opacity: 0;
  }
  
  #modal.open {
    -webkit-transform: translate(0);
    transform: translate(0);
    -webkit-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
    opacity: 1;
  }
  
  #modal #fotos {
    width: 100%;
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
  }
  
  #modal #musica, #modal #fotos, #modal #tour, #modal #videos, #modal #shows {
    display: none;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
  
  #modal #fotos.show {
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  #modal #fotos.show, #modal #shows.show, #modal #videos.show, #modal #nosotros.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  #modal #musica.show {
    display: inline;
  }

  #modal #fotos img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
  }
  
  #musica {
    width: 100%;
    height: 100%;
  }
  
  #music-logo {
    position: fixed;
    top: 25px;
    left: 50px;
    z-index: 999;
  }
  
  .music-container {
    justify-content: flex-start;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    margin: 100px 0 0 0;
    flex-wrap: wrap;
    width: 60%;
  }
  
  .disc-name {
    font-size: 11px;
    color: #E92200;
  }
  
  .disc-description {
    display: flex;
    justify-content: space-between;
  }
  
  .disc-links {
    padding: 8px 0;
    cursor: pointer!important;
  }
  
  .disc-links a {
    padding: 0 5px;
  }
  
  .disc {
    margin: 0 47px 20px;
    width: 35%;
  }
  
  html, body, .root, .container{
    height: 100%;
  }
  
  .music-big-container {
    background-color: black;
  }
  
  .disc-picture img {
    width: 100%;
  }

  .evento {
    display: flex;
    flex: 0;
    align-items: center;
    flex-direction: row;
    color: #E92200;
    font-size: 20px;
    justify-content: space-around;
    width: 50%;
    flex: 0 0 auto;
    margin: 20px;
  }

  #modal #shows {
    width: 100%;
    height: 65%;    
    overflow-y: auto;
  }

  .shows-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    width: 1px;  /* remove scrollbar space */
    height: 20px;
    background: black;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.evento p {
  margin: 3px;
}

.entradas {
  background: black;
  color: #E92200;
  border: 1px solid #E92200;
  padding: 9px 14px;
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 1px;
}

button.entradas:hover {
  color: #050483 ;
  border: 1px solid #050483;
}

button {
  cursor: pointer;
}

#copyrights {
  position: absolute;
  bottom: 25px;
  right: 35px;
  font-size: 9px;
  color: #E92200;
}

#logo img,
#logo-shows img{
  height: 90vh;
}

#mobile-close-icon,
#logo-shows-mobile,
#links-mobile,
#logo-home-mobile {
  display: none;
}

@media(max-width: 500px) {
  #music-logo {
    left: auto;
    width: 100%
  }

  .disc {
    width: 55%;
    margin: 0 0 30px;
  }

  .music-container {
    width: 100%;
    justify-content: center;
  }

  #music-logo img {
    width: 35%;
  }

  #social-media {
    right: auto;
    top: 5%;
    display: inline;
  }

  #social-media a{
    margin: 0;
  }

  #social-media a img {
    width: 10%;
  }

  #social-media #youtube img{
    width: 25%;
  }

  #logo-home-mobile {
    position: absolute;
    height: 80%;
    top: 20%;    
    overflow: hidden;
  }

  #logo-home-mobile img {
    height: 55%;
  }

  .evento {
    flex-direction: column;
    font-size: 11px;
    margin: 0 0 40px;
  }

  .evento .entradas {
    padding: 8px 45px;
    font-size: 11px;
  }

  .evento .place {
    margin: 8px 0px 12px;
  }

  #modal #shows {
    width: 100%;
    height: 60%;
    overflow-y: auto;
    align-self: baseline;
    margin-top: 15%;
    -webkit-overflow-scrolling: touch;
  }

  #logo-shows-mobile {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 1%;
  }

  #logo-shows-mobile.show,
  #links-mobile.show,
  #social-media.show {
    display: block;
  }

  #logo-shows-mobile img {
    width: 85%;
  }

  #mobile-close-icon {
    display: block;
    color: #E92200;
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 25px;
    background: transparent;
    border: none;
    z-index: 100;
  }

  #copyrights {
    bottom: 15px;
    right: auto;
  }

  #links-mobile button {    
    font-size: 12pt;
    margin: 6px;
    width: auto;
    display: inline;
  }

  #links-mobile {
    height: auto;
    position: absolute;
    bottom: 15%;
    top: auto;
    right: auto;
    width: 80%;
    padding-right: 0;
  }

  #logo,
  #logo-shows,
  #links,
  #social-media,
  #links,
  #links-mobile.not-shown,
  #copyrights.not-shown,
  #mobile-close-icon,
  #logo-home-mobile,
  #musica {
    display: none;
  }

  #links-mobile,
  #logo-home-mobile.show,
  #mobile-close-icon.show,
  #musica.show {
    display: block;    
    -webkit-overflow-scrolling: touch;
  }
}