@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

a {
  color: transparent;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif; 
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust:none;
  }

.App {
    text-align: center;    
    -webkit-overflow-scrolling: none;
  }
  
  a, body, button, html, .text-container {
    font-family: Arial,Helvetica,sans-serif;
  }
  
  .text-container {
    z-index: 99999;
    width: 40%;
    height: 70%;
    color: black;
    font-size: 18px;
    background: #E92200;
    position: absolute;
    text-align: justify;
    line-height: 24px;
    margin-top: 9%;
    overflow-y: scroll
  }

  .text-container p {
    margin: 0;
  }

  .text-container::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80vmin;
    pointer-events: none;
  }
  
  .App-link {
    color: #61dafb;
  }

  #nosotros-mobile.not-shown {
    display: none;
  }
  
  #container {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    -webkit-overflow-scrolling: touch;
  }
  
  #logo,
  #logo-shows {
      position: fixed;
      left: 35px;
      padding-left: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      z-index: 99;
      pointer-events: none;
  }
  
  #logo.not-shown, #musica.not-shown, #logo-shows.not-shown {
    display: none;
  }

  #social-media.show,
  #social-media-nosotros.show {
    display: block !important;
  }

  #social-media.not-show,
  #social-media-nosotros.not-show {
    display: none !important;
  }

  #social-media,
  #social-media-nosotros {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 999;
  }
  
  #social-media a,
  #social-media-nosotros a {
    margin: 0 5px;
    cursor: pointer!important;
  }
  
  
  nav {
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 12;
    pointer-events: none;
  }
  
  nav button {
    display: block;
    border: none;
    background: none;
    color: #E92200;
    margin: 8px;
    padding: 0;
    font-size: 23pt;
    font-weight: 300;
    width: 208px;
    text-align: right;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0px;
    text-decoration: none;
    border-width: 0px;
    pointer-events: auto;
    text-shadow: 1px 1px black;
  }
  
  nav a:hover, nav button:hover {
    cursor: pointer!important;
    color: #050483;
  }
  
  nav a.selected, nav button.selected {
    color: #050483;
  }
  
  nav a, nav a:hover, nav button, nav button:hover {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  
  a:focus, button:focus {
    outline: none;
  }
  
  #modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #modal.open {
  }
  
  #modal #fotos {
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  
  #modal #musica, #modal #fotos, #modal #tour, #modal #videos, #modal #shows {
    display: none;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }
  
  #modal #fotos.show {
    align-items: flex-start;
    justify-content: flex-start;
  }
  

  #modal #fotos.show, #modal #shows.show, #modal #videos.show, #modal #nosotros.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  #modal #musica.show {
    display: inline;
  }

  #modal #fotos img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
  }
  
  #modal #videos {
    height: 50%;
    width: 38%;
    margin-top: 0%;
  }

  #nosotros {
    background-color: #E92200;
    display: none;
  }

  #nosotros.show {
    display: block;
  }

  .image-nosotros {
    height: 100%;
  }

  #musica, #nosotros {
    width: 100%;
    height: 100%;    
    overflow: auto;
  }

  .links-negros button{
    color: black;
  }

  .links-negros nav a:hover, nav button:hover {
    cursor: pointer!important;
    color: #1602C8;
  }
  
  .links-negros nav a.selected, nav button.selected {
    color: #1602C8;
  }

  img.shown {
    display: block;
  }

  img.not-shown {
    display: none;
  }
  
  #music-logo {
    position: fixed;
    top: 25px;
    left: 50px;
    z-index: 999;
  }
  
  .music-container {
    justify-content: flex-start;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    margin: 100px 0 0 0;
    flex-wrap: wrap;
    width: 60%;
  }
  
  .disc-name {
    font-size: 11px;
    color: #E92200;
  }
  
  .disc-description {
    display: flex;
    justify-content: space-between;
  }
  
  .disc-links {
    padding: 8px 0;
    cursor: pointer!important;
  }
  
  .disc-links a {
    padding: 0 5px;
  }
  
  .disc {
    margin: 0 47px 20px;
    width: 35%;
  }
  
  html, body, .root, .container{
    height: 100%;
  }
  
  .music-big-container {
    background-color: black;
  }
  
  .disc-picture img {
    width: 100%;
  }

  .evento {
    display: flex;
    flex: 0;
    align-items: center;
    flex-direction: row;
    color: #E92200;
    font-size: 20px;
    justify-content: space-around;
    width: 50%;
    flex: 0 0 auto;
    margin: 20px;
  }

  #modal #shows {
    width: 100%;
    height: 65%;    
    overflow-y: auto;
  }

  .shows-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar {
    width: 1px;  /* remove scrollbar space */
    height: 20px;
    background: black;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.evento p {
  margin: 3px;
}

.entradas {
  background: black;
  color: #E92200;
  border: 1px solid #E92200;
  padding: 9px 14px;
  font-size: 17px;
  font-weight: 900;
  letter-spacing: 1px;
}

.entradas a {
  color: #E92200;
  text-decoration: none;
}

button.entradas:hover {
  color: #050483 ;
  border: 1px solid #050483;
}

.entradas a:hover {
  color: #050483;
}

button {
  cursor: pointer;
}

#copyrights {
  position: absolute;
  bottom: 25px;
  right: 35px;
  font-size: 9px;
  color: #E92200;
}

#logo img,
#logo-shows img{
  height: 90vh;
}

#mobile-close-icon,
#logo-shows-mobile,
#links-mobile,
#logo-home-mobile,
#logo-videos-mobile,
#logo-nosotros-mobile {
  display: none;
}


.video-slider {
  width: 100%;
  height: 20em;
  background: #444;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.slide:first-child{
  left: 0;
}
.video{
  height: 100%;
  width: 100%;
  border:0;
}
.slide-arrow{
  position: absolute;
  top: 0;
  left: 0;
  height: 45%;
  width: 15%;
  cursor: pointer;
  opacity: .68;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.slide-arrow:hover{
  opacity: 1;
}
.slide-arrow:after{
  content: "•";
  text-align: center;
  display: block;
  height: 13%;
  width: 100%;
  color: #E92200;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  font-size: 3em;
}

.slide-arrow.right {
  right: -100px !important;
}

.slide-arrow.left {
  left: -100px !important;
}

.slide-arrow.right:after{
  content: "•";
}
.slide-arrow.right{
  left: auto;
  right: 0;
}

@media(min-width: 768px) {
  .details {
    width: 45%;
  }

  .place {
    width: 15%;
  }

  .evento .button {
    width: 40%;
  }
}

@media(max-width: 767px) {
  #music-logo {
    left: auto;
    width: 100%
  }

  .disc {
    width: 55%;
    margin: 0 0 30px;
  }

  .music-container {
    width: 100%;
    justify-content: center;
  }

  #music-logo img {
    width: 35%;
  }

  #social-media,
  #social-media-nosotros {
    right: auto;
    top: 5%;
    display: inline;
  }

  #social-media a,
  #social-media-nosotros a{
    margin: 0;
  }

  #social-media a img ,
  #social-media-nosotros a img {
    width: 10%;
  }

  #social-media #youtube img,
  #social-media-nosotros #youtube img {
    width: 25%;
  }

  #logo-home-mobile {
    position: absolute;
    height: 80%;
    top: 20%;    
    overflow: hidden;
  }

  #logo-home-mobile img {
    height: 55%;
  }

  .evento {
    flex-direction: column;
    font-size: 11px;
    margin: 0 0 40px;
  }

  .evento .entradas {
    padding: 8px 45px;
    font-size: 11px;
  }

  .evento .place {
    margin: 8px 0px 12px;
  }

  #modal #shows {
    width: 100%;
    height: 60%;
    overflow-y: auto;
    align-self: baseline;
    margin-top: 15%;
    -webkit-overflow-scrolling: touch;
  }

  #modal #videos {
    width: 90%;
    margin-bottom: 20%;
  }

  #modal #nosotros-mobile {
    width: 100%;
    height: 100%;
    background-color: #E92200;
  }

  .image-nosotros-mobile {
    width: 100%;
    margin-top: 10%;
  }

  .video-label {
    position: absolute;
    top: -3%;
    font-size: 16px;
    width: 100%;
    color: #E92200;
    justify-self: center;
  }

  .slide-arrow.right {
    right: 0 !important;
  }
  
  .slide-arrow.left {
    left: 0 !important;
  }

  #logo-shows-mobile,
  #logo-videos-mobile,
  #logo-nosotros-mobile {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 1%;
  }

  #logo-shows-mobile.show,
  #logo-videos-mobile.show,
  #logo-nosotros-mobile.show,
  #links-mobile.show,
  #social-media.show,
  #social-media-nosotros.show {
    display: block !important;
  }

  #logo-nosotros-mobile {
    z-index: 99;
  }

  .text-container {
    width: 80%;
    font-size: 12px;
    line-height: 16px;
    margin-top: 50%;
    position: fixed;
    height: 50%;
    margin-left: 10%;
    top: 0;
  }

  #social-media.not-show,
  #social-media-nosotros.not-show {
    display: none !important;
  }

  #logo-shows-mobile img,
  #logo-videos-mobile img,
  #logo-nosotros-mobile img {
    width: 85%;
  }

  #mobile-close-icon {
    display: block;
    color: #E92200;
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 25px;
    background: transparent;
    border: none;
    z-index: 100;
  }

  #mobile-close-icon.black{
    color: black;
  }

  #copyrights {
    bottom: 15px;
    right: auto;
  }

  #links-mobile button {    
    font-size: 12pt;
    margin: 6px;
    width: auto;
    display: inline;
  }

  #links-mobile {
    height: auto;
    position: absolute;
    bottom: 15%;
    top: auto;
    right: auto;
    width: 80%;
    padding-right: 0;
  }

  #logo,
  #logo-shows,
  #links,
  #social-media,
  #social-media-nosotros,
  #links,
  #links-mobile.not-shown,
  #copyrights.not-shown,
  #mobile-close-icon,
  #logo-home-mobile,
  #musica,
  #nosotros.not-shown,
  #nosotros-mobile.not-shown {
    display: none;
  }

  #links-mobile,
  #logo-home-mobile.show,
  #mobile-close-icon.show,
  #musica.show,
  #nosotros.show {
    display: block;    
    -webkit-overflow-scrolling: touch;
  }

  

}
